[submodule "go-vncdriver"]
	path = go-vncdriver
	url = git@github.com:openai/go-vncdriver.git
[submodule "catkin/src/tum_simulator"]
	path = catkin/src/tum_simulator
	url = git@github.gatech.edu:ebrooks34/tum_simulator.git
[submodule "catkin/src/a3c"]
	path = catkin/src/a3c
	url = git@github.gatech.edu:ebrooks34/unverse-starter-agent.git
